<div class="cover{{#if @site.cover_image}} image-loading{{/if}}{{#match @custom.publication_cover_style "Half screen"}} half{{/match}} gh-outer">
    {{#if @site.cover_image}}
        <img class="cover-image u-object-fit" src="{{@site.cover_image}}" alt="{{@site.title}}">
    {{/if}}

    <div class="cover-content">

        {{#if @site.icon}}
            <div class="cover-icon">
                <img class="cover-icon-image" src="{{@site.icon}}" alt="{{@site.title}}">
            </div>
        {{/if}}

        {{#if @site.title}}
            <h1 class="cover-title">{{@site.title}}</h1>
        {{/if}}

        {{#if @site.description}}
            <div class="cover-description">
                {{#unless @member}}
                    {{#if @custom.email_signup_text}}
                        {{@custom.email_signup_text}}
                    {{else}}
                        {{@site.description}}
                    {{/if}}
                {{else}}
                    {{@site.description}}
                {{/unless}}
            </div>
        {{/if}}

        {{#if @custom.socials}}
            <div class="socials">
                <a
                        class="hover:text-twitter p-2 social-icon"
                        title="Twitter"
                        href="{{@custom.twitter}}"
                        target="_blank"
                        rel="noopener noreferrer">
                    {{> "icons/icon-twitter"}}
                </a>

                <a
                        class="hover:text-youtube p-2 social-icon"
                        title="Youtube"
                        href="{{@custom.youtube}}"
                        target="_blank"
                        rel="noopener noreferrer">
                    {{> "icons/icon-youtube"}}
                </a>

                <a
                        class="hover:text-instagram p-2 social-icon"
                        title="Instagram"
                        href="{{@custom.instagram}}"
                        target="_blank"
                        rel="noopener noreferrer">
                    {{> "icons/icon-instagram"}}
                </a>
            </div>
        {{/if}}

        {{#if @custom.contact}}
            <a class="contact-me"
               href="{{@custom.contact}}"
               target="_blank"
               rel="noopener noreferrer">
                <div class="call-to-action">
                    Ask for lessons!
                </div>
            </a>
        {{/if}}

        {{#if @site.members_enabled}}
            {{#unless @site.members_invite_only}}
                {{#unless @member}}
                    <form class="form-wrapper cover-form" data-members-form>
                        <input class="auth-email" type="email" data-members-email placeholder="Your email address" required="true" autocomplete="false">
                        <button class="form-button" type="submit" aria-label="Submit">
                            <span class="default">Subscribe</span>
                            <span class="loader">{{> "icons/loader"}}</span>
                            <span class="success">Email sent</span>
                        </button>
                    </form>
                {{/unless}}
            {{/unless}}
        {{/if}}
    </div>

    <button class="button-icon cover-arrow">
        {{> "icons/caret-down"}}
    </button>
</div>